/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: "Roboto", sans-serif;
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #005b99;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--fontSize-1);
  color: var(--color-text);
  max-width: 1280px;
  margin: 0 auto;
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */

.global-wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5);
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: var(--spacing-20);
}

.global-header {
  margin-bottom: var(--spacing-12);
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}
/* ---------------HEADER------------- */
.LinkHeader {
  color: black;
  /* margin-left: 90px; */
  font-size: 18px;
  font-weight: 300;
}

.primary-nav {
  width: 560px;
  position: relative;
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: space-between;
  align-items: center;
  margin-right: 126px;
}
.primary-nav a:hover {
  color: gray;
}
.primary-nav > a {
  text-decoration: none;
}
.headerShadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  clip-path: inset(0px 0px -4px 0px);
}

.headroom--unpinned {
  left: 0;
  transform: translateY(-100%);
  width: 100%;
}
.headroom--pinned {
  margin: 0 auto;
  left: 0;

  width: 100%;
  position: fixed;
  transform: translateY(0%);
}
.headroom--scrolled {
  transition: transform 300ms ease-in-out;
}
/* --------------HERO------------- */
.hero {
  background: linear-gradient(
    114.13deg,
    #ac84bc -0.34%,
    #a684bc 2.01%,
    #9382bc 5.66%,
    #747fbd 10.15%,
    #6c7ebd 11.12%,
    #6c84c1 14.71%,
    #6a94cc 20.82%,
    #67aee0 28.65%,
    #63c6f1 34.49%,
    #95d2dc 49.73%,
    #b7dece 64.66%,
    #c3e3c8 73.15%,
    #eba8c1 96.4%,
    #bc9fba 101.81%,
    #9799b5 106.72%,
    #8095b2 110.55%,
    #7794b1 112.81%
  );
}
.footerLogo {
  transition: all 0.4s ease-in-out;
  margin-right: 12.4px;
  position: absolute;
}
.footerLogo:hover {
  transform: scale(1.06);
  transform-origin: center;
}
.footerLogo.insta {
  left: -90px;
}
.footerLogo.fb {
  left: -30px;
}
.footerLogo.ld {
  left: 30px;
}
.mob {
  margin-left: 10px;
}

/* -----------FOOTER------------------ */

.ArrowsIzdvojeno {
  position: relative;
  margin-top: 60px;
}
/* ------------------carousel--------------- */

.novostiSlider .slick-prev:before {
  position: relative;
  top: -50px;
  color: rgb(185, 184, 184) !important;
}
.novostiSlider .slick-next:before {
  position: relative;
  top: -50px;
  right: -8px;
  color: rgb(185, 184, 184) !important;
}

/* ----------------------- */

/* .izdvojeniSlider .slick-prev:before {
  position: relative;
  top: -50px;
  color: rgb(201, 38, 38) !important;
}
.izdvojeniSlider .slick-next:before {
  position: relative;
  top: -50px;
  color: rgb(163, 13, 13) !important;
} */
/* ------------------------- */

.testimonialSlider .slick-prev:before {
  position: relative;
  top: 30px;
  color: rgba(167, 167, 167, 0.719) !important;
}
.testimonialSlider .slick-next:before {
  position: relative;
  top: 30px;
  color: rgba(163, 161, 161, 0.712) !important;
}

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  /* ul,
  ol {
    list-style-position: inside;
  } */
}
.div-block-57 {
  display: -ms-grid;
  display: grid;
  height: 329px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5px;
  grid-row-gap: 1.5px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto auto auto
    auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

/* .div-block-58 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;

  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto auto auto
    auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
} */

#\31 .w-node-a85ebd1473d6-7a98c21f {
  -ms-grid-row: 1;
  grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 6;
  grid-row-end: 7;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
}

#\36 .w-node-a85ebd1473d7-7a98c21f {
  -ms-grid-row: 7;
  grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 8;
  grid-row-end: 15;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
}

#\32 .w-node-a85ebd1473d8-7a98c21f {
  -ms-grid-row: 1;
  grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 3;
  grid-row-end: 6;
  -ms-grid-column: 5;
  grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 4;
  grid-column-end: 9;
}

#\33 .w-node-a85ebd1473d9-7a98c21f {
  -ms-grid-row: 1;
  grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 14;
  grid-row-end: 15;
  -ms-grid-column: 9;
  grid-column: 9;
  grid-column-start: 9;
  -ms-grid-column-span: 3;
  grid-column-end: 12;
}

#\34 .w-node-a85ebd1473da-7a98c21f {
  -ms-grid-row: 1;
  grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 6;
  grid-row-end: 7;
  -ms-grid-column: 12;
  grid-column: 12;
  grid-column-start: 12;
  -ms-grid-column-span: 5;
  grid-column-end: 17;
}

#\35 .w-node-a85ebd1473db-7a98c21f {
  -ms-grid-row: 1;
  grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 6;
  grid-row-end: 7;
  -ms-grid-column: 17;
  grid-column: 17;
  grid-column-start: 17;
  -ms-grid-column-span: 6;
  grid-column-end: 23;
}

#\37 .w-node-a85ebd1473dc-7a98c21f {
  -ms-grid-row: 4;
  grid-row: 4;
  grid-row-start: 6;
  -ms-grid-row-span: 11;
  grid-row-end: 15;
  -ms-grid-column: 5;
  grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 4;
  grid-column-end: 9;
}

#\38 .w-node-a85ebd1473dd-7a98c21f {
  -ms-grid-row: 7;
  grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 8;
  grid-row-end: 15;
  -ms-grid-column: 12;
  grid-column: 12;
  grid-column-start: 12;
  -ms-grid-column-span: 5;
  grid-column-end: 17;
}

#\39 .w-node-a85ebd1473de-7a98c21f {
  -ms-grid-row: 7;
  grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 8;
  grid-row-end: 15;
  -ms-grid-column: 17;
  grid-column: 17;
  grid-column-start: 17;
  -ms-grid-column-span: 6;
  grid-column-end: 23;
}

._1 {
  background-image: url("../content/assets/images/2.png");
  background-position: 0px 0px;
  background-size: cover;
}

._2 {
  background-image: url("../content/assets/images/3.png");
  background-position: 0px 0px;
  background-size: cover;
}

._3 {
  background-image: url("../content/assets/images/9.png");
  background-position: 0px 0px;
  background-size: cover;
}

._4 {
  background-image: url("../content/assets/images/5.png");
  background-position: 0px 0px;
  background-size: cover;
}

._5 {
  background-image: url("../content/assets/images/1.png");
  background-position: 0px 0px;
  background-size: cover;
}

._6 {
  background-image: url("../content/assets/images/4.png");
  background-position: 0px 0px;
  background-size: cover;
}

._7 {
  background-image: url("../content/assets/images/8.png");
  background-position: 0px 0px;
  background-size: cover;
}

._8 {
  background-image: url("../content/assets/images/7.png");
  background-position: 0px 0px;
  background-size: cover;
}

._9 {
  background-image: url("../content/assets/images/6.png");
  background-position: 0px 0px;
  background-size: cover;
}

.overlayGradient {
  position: absolute;
  width: 100%;
  height: 242px;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(180deg, #000000 0%, rgba(196, 196, 196, 0) 100%);
  background-blend-mode: multiply;
  transform: rotate(-180deg);
}
.mapaPozadina {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  opacity: 0.6;
  font-size: 36px;
  z-index: 0;
}
.coverPhoto {
  z-index: 150 !important;
  filter: grayscale(100%);
  transition: all 1.5s;
}
.coverPhoto2 {
  transition: all 0.8s ease;
}

.coverPhoto:hover {
  filter: none !important;
}
.textIzdvojeni {
  transition: all 0.9s;
}
.paginationWrap {
  color: black;
  height: 100px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 60px;
}
.page-item a {
  color: #6d6d6d;
  font-style: oblique;
  margin: 5px;
  text-decoration: none;
}
.active {
  font-weight: 700;
  color: #000000;
  font-style: oblique;
  margin: 5px;
  text-decoration: none;
}
.slick-initialized {
  width: 84%;
  margin: 0 auto;
}
.slick-slide {
  transition: opacity 1s ease;
}
.slick-slide > div {
  /* margin: 0 0; */
  margin-right: 10px;
}
.slick-list {
  margin: 0 -10px;
}
.slick-dots {
  position: absolute;
  bottom: -70px !important;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: grey;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
}

.sectionInView {
  z-index: 200;
  animation: scale-in-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  visibility: hidden;
  will-change: visibility;
}
.sectionInView.is-visible {
  z-index: 200;

  visibility: visible;
}
.mobileLinks {
  position: relative;
  z-index: 99999;
  text-decoration: none;
  margin-top: 48px;
  font-weight: 300;
  color: #000000;
}

.closeMenuMobile {
  position: absolute;
  z-index: 99999;
  top: 25px;
  right: 43px;
  cursor: pointer;
  font-size: 24px;
}
.paragrafUsluge {
  font-weight: 400;
  font-size: 14px;
  width: 89%;
  margin-left: 10px;
  margin-top: 29px;
  line-height: 18px;
}
.paragrafUsluge.bold {
  font-weight: 700;
}
.paragrafUsluge.uvuceno {
  margin-left: 25px;
}
.marginBottom {
  margin-bottom: 60px;
}
.wrapLinksMobileHorizontal {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  position: relative;
  width: 400px;
  align-items: center;
  justify-content: space-around;
}
.wrapLinksMobile {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  text-align: center;
}
.wrapLinksMobileHorizontal .mobileLinks {
  margin-top: 25px;
}
.hide-menu {
  transition: all 0.3s linear;
  transform: translateX(-100%);
  visibility: hidden;
}
.show-menu {
  transform: translateX(0);
  transition: all 0.3s linear;
  visibility: show;
}
.button:hover {
  background-color: #f7f7f7;
}
.button:active {
  background-color: #dadada;
}
.saznajVise:hover {
  color: #005b99 !important;
}
.removeUnderline a {
  text-decoration: none;
  color: #000000;
}
.removeUnderline2 {
  font-weight: 700;
  font-size: 14px;
  text-align: end;
  margin-top: 30px;
  margin-right: 25px;
}
.removeUnderline2 a {
  text-decoration: none;
  color: #000000;
}
.backgroundMobileMeni {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    114.13deg,
    #ac84bc -0.34%,
    #a684bc 2.01%,
    #9382bc 5.66%,
    #747fbd 10.15%,
    #6c7ebd 11.12%,
    #6c84c1 14.71%,
    #6a94cc 20.82%,
    #67aee0 28.65%,
    #63c6f1 34.49%,
    #95d2dc 49.73%,
    #b7dece 64.66%,
    #c3e3c8 73.15%,
    #eba8c1 96.4%,
    #bc9fba 101.81%,
    #9799b5 106.72%,
    #8095b2 110.55%,
    #7794b1 112.81%
  );
}
/* .slick-prev {
}
.slick-next {

} */
.mobileHeroNaslovi {
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scale-in-ver-top {
  position: relative;
  top: -20px;
  width: 2px;
  height: 0px;
  background-color: white;
  margin: 0 28px;
  animation-delay: 1s;
  animation: line_animation 2s linear;
  animation-fill-mode: forwards;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-1-21 10:26:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */
@keyframes line_animation {
  0% {
    height: 0px;
  }
  100% {
    height: 350px;
  }
}

.scale-up-top {
  -webkit-animation: scale-up-top 1.2s linear;
  animation: scale-up-top 1.2s linear;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-1-21 10:2:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-top
 * ----------------------------------------
 */

@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 0% 0%;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.activeLink {
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  .primary-nav {
    width: 400px;
  }
  /* .primary-nav > a {
  } */
}
@media screen and (max-width: 780px) {
  .primary-nav {
    display: none;
  }
  /* .closeMenuMobile {
    display: none;
  } */
  .pdffile {
    margin-left: 25px !important;
  }
}
@media screen and (max-width: 632px) {
  .slick-initialized {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .naslovHeroNovosti {
    width: 300px;
  }
  .mobileNovostiCard {
    padding-left: 10px;
  }
  .primary-nav {
    display: none;
  }
  .photoNovosti {
    margin-bottom: 45px !important;
  }
  .novostiSlider .slick-prev:before {
    position: relative;
    left: 20px;
    top: -50px;
    color: rgb(185, 184, 184) !important;
  }
  .novostiSlider .slick-next:before {
    position: relative;
    top: -50px;
    right: 20px;
    color: rgb(185, 184, 184) !important;
  }
  .removeUnderline2 {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    margin-left: 25px;
  }

  /* ----------------------- */

  .izdvojeniSlider .slick-prev:before {
    position: relative;
    top: -50px;
    color: rgb(201, 38, 38) !important;
  }
  .izdvojeniSlider .slick-next:before {
    position: relative;
    top: -50px;
    color: rgb(163, 13, 13) !important;
  }
  /* ------------------------- */
  .slick-initialized {
    width: 100%;
    margin: 0 auto;
  }
  .slick-slide > div {
    margin: 0 5px;
  }
  .paragrafUsluge {
    margin-left: 25px;
  }
  .paragrafUsluge.uvuceno {
    margin-left: 35px;
  }

  /* .slick-slide {

    opacity: 0.6;
  }
  .slick-center {
    opacity: 1 !important;
  } */
}
/* @media screen and (max-width: 631px) {
  .slick-slide {
    filter: grayscale(100%);
    opacity: 0.6;
  }
  .slick-center {
    filter: none;
    opacity: 1 !important;
  }
} */
@media screen and (max-width: 510px) {
  .mobileNovostiCard {
    padding-left: 10px;
  }
}
@media screen and (max-width: 360px) {
  .slick-dots {
    position: absolute;
    bottom: -20px !important;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
  }
}

@media screen and (min-width: 780px) {
  .closeMenuMobile {
    display: none;
  }
}
